.board {
    display: flex;
    justify-content: center;
    /* centrar horizontalmente */
    align-items: center;
    /* centrar verticalmente */
    height: 90vh;
}

.card_back {
    background-color: whitesmoke;
}

.game_title {
    text-align: center;
    margin: 1.5rem;
}

.card_item {
    height: auto;
    border-radius: 10px;
    padding: 1px;
    position: relative;
    transform-style: preserve-3d;
    transition: transform 0.8s;
}

.card_front,
.card_back {
    position: absolute;
    top: 0;
    left: 0;
    backface-visibility: hidden;
    width: 100%;
    height: 100%;
}

.card_front {
    z-index: 2;
    transform: rotateY(0deg);
}

.card_back {
    border-style: outset;
    border-radius: 10px;
    transform: rotateY(180deg);
    display: flex;
    align-items: center;
    justify-content: center;
}

.card_item.flipped {
    transform: rotateY(180deg);
}

.card_container {
    display: grid;
    grid-template-columns: repeat(6, 100px);
    grid-gap: 1em;
    height: 40em;
}

button {
    margin: 10px;
    width: 30%;
    height: 50px;
    font-size: 1.2rem;
    color: white;
    background-color: #008CBA;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    transition: all 0.3s ease;
}

button:hover {
    background-color: #006F8B;
}

button:disabled {
    background-color: gray;
    cursor: not-allowed;
}

.player_profile {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.left {
    position: absolute;
    left: 5%;
}

.right {
    position: absolute;
    right: 5%;
    display: none;
}

.profile_pic {
    height: 270px;
}

@keyframes rainbow-text {
    0% {
        color: red;
    }

    16% {
        color: orange;
    }

    32% {
        color: yellow;
    }

    48% {
        color: green;
    }

    64% {
        color: blue;
    }

    80% {
        color: indigo;
    }

    100% {
        color: violet;
    }
}

/* Aplicamos la animación al elemento */
.score {
    animation: rainbow-text 10s infinite;
    font-weight: bold;
}

.player_name_score {
    background-color: beige;
    border-radius: 10px;
    padding: 10px;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.card_container_header {
    background-color: beige;
    text-align: center;
    margin: 0 auto;
    width: 40%;
    margin-top: 20px;
    border-radius: 20px;
    z-index: 9999;
}

.card_container_header h2 {
    margin: 0;
    padding: 10px;
}

.popup {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 9999;
}

.popup_content {
    background-color: white;
    padding: 20px;
    border-radius: 10px;
    text-align: center;
}

.popup_content h2 {
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 20px;
}

.popup_content img {
    max-width: 100%;
    height: auto;
    margin-bottom: 20px;
}

.popup_content button {
    background-color: #4CAF50;
    color: white;
    padding: 10px 20px;
    border-radius: 5px;
    font-size: 16px;
    font-weight: bold;
    border: none;
    cursor: pointer;
}

#overlay {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 90%;
    opacity: 0;
    background-color: black;
    display: none;
    pointer-events: auto;
    z-index: 10;
  }
  